[Unit]
Description=Open WebUI
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/bin/bash -c "PYENV_VERSION=3.11 PATH=$PATH:$HOME/.pyenv/shims exec $HOME/.local/src/open-webui/backend/start.sh"
WorkingDirectory=/home/nf/.local/src/open-webui/backend
Restart=on-failure
RestartSec=3
Type=simple

[Install]
WantedBy=default.target
