snippet dracula ":root vars for Dracula Theme" b
:root {
    --d-bg: #282a36;
    --d-sel: #44475a;
    --d-fg: #f8f8f2;
    --d-com: #6272a4;
    --d-cyan: #8be9fd;
    --d-green: #50fa7b;
    --d-orange: #ffb86c;
    --d-pink: #ff79c6;
    --d-purple: #bd93f9;
    --d-red: #ff5555;
    --d-yellow: #f1fa8c;
}
endsnippet
