[user]
	name = Nick Friday
	email = nfriday@ya.ru
[includeIf "gitdir:~/job/"]
  path = .gitconfig-job

[core]
	quotepath = false
	pager = delta
[init]
	defaultBranch = main

[delta]
  syntax-theme = Dracula
  minus-style = syntax "#22212c"
  plus-style = syntax "#343746"
  minus-emph-style = syntax "#55212c"
  plus-emph-style = syntax "#245736"



