[user]
	name = Nick Friday
	email = nfriday@ya.ru
[includeIf "gitdir:~/job/"]
  path = .gitconfig-job

[core]
	quotepath = false
	pager = delta
[init]
	defaultBranch = main

[delta]
  syntax-theme = Dracula
  minus-style = syntax "#22212c"
  plus-style = syntax "#343746"
  minus-emph-style = syntax "#55212c"
  plus-emph-style = syntax "#245736"



[diff]
	tool = nvimdiff
[rerere]
	enabled = true
[maintenance]
	repo = /home/nf/job/admin
	repo = /home/nf/job/api
	repo = /home/nf/job/crm-backend
	repo = /home/nf/job/crm-frontend
	repo = /home/nf/job/hrd
	repo = /home/nf/job/packages
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
