.buttonContainer-28fw2U {
    opacity: .1;
    transition: opacity .2s;
}
.buttonContainer-28fw2U:hover {
    opacity: 1;
}

.buttons-3JBrkn {
    flex-direction: row-reverse;
}

.container-1mpd15 {
    display: none;
}
[class^="groupStart"] {
    /* display: none; */
}