#!/bin/bash

id=${1?};
class="$2";
instance="$3";
misc="$4";

# Global rules
echo "
follow=on
"

# Class rules
case "$class" in
  Screenkey) manage=off;;
  [Dd]iscord|TelegramDesktop) echo "
    desktop=^3
    ";;
  lxpolkit) echo"
    focus=on
    ";;
  sxiv|Zathura) echo "
    state=tiled
    ";;
  mpv) echo "
    rectangle=768x432+1152+648
    ";;
  StepMania) echo "
    state=fullscreen
    ";;
  *)
    # If window doesn't have class on startup
    # case $(ps -p "$(xdo pid "$id")" -o comm= 2>/dev/null) in
    # esac;;
esac;
